h1 { color: #5C4742;
 }

body{
 background-color: #034078;
}

.container {
  display: flex;
 gap: 100px;
 justify-content:space-around;
  align-items:center;
}

#thisIsAnId {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

.thisIsAClass {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
 font-weight: 700;
  font-style: normal;
}
